
<% if @row && @row.errors.any? %>
  <p id="err">
    <% @row.errors.full_messages.each do |msg| %>
      <span><%= msg %></span><br />
    <% end %>

  </p>
<% end %>

<% if current_user.username == @row.username %>
<%= form_for @row, url: article_path(:id) do |f| %>

  <p>
    <%= f.hidden_field :id %>
    <%#= f.number_field :id %>
  </p>
  <p>
    <%= f.label :title %> <br/>
    <%= f.text_field :title  %>
  </p>

  <p>
    <%= f.label :text %> <br/>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit 'Update message'%>
  </p>
<% end %>
<% else %>

<h4> Only author of article has right to edit article </h4>

<% end %>