<h2><%= @row.title %></h2>
<p><%= @row.text %></p>
<p><%= @row.created_at %></p>

<h5>Add comment</h5>


<% if user_signed_in? %>

  <%= form_for([@row, @comment]) do |f| %>

    <p>
      <%= f.label :author %> <br/>
      <%=   current_user.username  %>
      <%= f.hidden_field :author, value: current_user.username %>
    </p>

    <p>
      <%= f.label :body %> <br/>
      <%= f.text_area :body %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>
<% end %>


<!------------------------------------------------------>

<%= link_to "Show all articles", articles_path %>
<hr />

<% @comments.each do |comment| %>
  <h2><%= comment.author %></h2>
  <p><%= comment.body %></p>
  <p><%= comment.created_at %></p>
  <hr />
<% end %>